<div class="main">
	<table class="firstTable">
		<tr>
    		<td class="gold">GOLD</td>
    		<td class="totalhits">HIT COUNT</td>
    		<td class="gems">GEMS</td>
    	</tr>
 		<tr>
    		<td class="rightBorder">{{gold}}</td>
    		<td class="rightBorder">{{totalClicks}}</td>
    		<td class="value">{{gems}}</td>
  		</tr>
  	</table>
  	<table class="firstTable2">
  		<tr>
  			<td class="hitMultiplier">HIT</td>
    		<td class="nameMultiplier">NAME</td>
    		<td class="totalPower">POWER</td>
    		<td class="damage">DAMAGE</td>
  		</tr>
  		<tr>
    		<td class="rightBorder">{{hitMultiplier}}</td>
    		<td class="rightBorder">{{nameMultiplier}}</td>
    		<td class="rightBorder">{{totalPower}}</td>
    		<td class="value">{{damage}}</td>
  		</tr>
	</table>
	<table class="secondTable">
		<tr>
    		<td class="healthbar">
    			<div class="progressbar">
				 <span class="progressbar-value">
				  <em class="progressbar-cover"></em>
				 </span>
				</div>
    		</td>
    		<td class="picture" ng-click="click();">
    			<div class="lvlValue">
    				LVL {{index+1}}
    			</div>
    			<div class="info">
    			<table>
    				<tr>
    					<td>
    						<img src="img/components/heart.png" height="15" width="15">	
    					</td>
    					<td class="value">
    						 {{health}}
    					</td>
    				</tr>
    				<tr>
    					<td>
    						<img src="img/components/armor.png" height="15" width="15">	
    					</td>
    					<td class="value">
    						 {{armour}}
    					</td>
    				</tr>
    				<tr>
    					<td>
    						<img src="img/components/gold.png" height="15" width="15">	
    					</td>
    					<td class="value">
    						 {{reward}}
    					</td>
    				</tr>
    			</table>
    			</div>
    		</td>
  		</tr>
	</table>
	<table class="thirdTable">
		<tr>
    		<td class="inputName">
    			<input type="text" class="allcaps" ng-model="guessedName"/>
    		</td>
    		<td class="checkName">
    			<button type="button" ng-click="check();">?</button>
    		</td>
  		</tr>
	</table>
	<table class="fourthTable">
		<tr>
    		<td class="home">
    			<button type="button">H</button>
    		</td>
    		<td class="prev">
    			<button type="button" ng-show="prevValid" ng-click="prev();"><</button>	
    		</td>
    		<td class="next">
    			<button type="button" ng-show="nextValid" ng-click="next();">></button>	
    		</td>
    		<td class="upgrades">
    			<button type="button" ng-click="upgrade = true;">U</button>
    		</td>
  		</tr>
	</table>
</div>
<div class="upgrade" ng-show="upgrade">
	<table>
		<tr class="currency">
			<td class="gold">{{gold}} gold</td>
			<td class="gems">{{gems}} g</td>
		</tr>
		<tr>
    		<td class="upgInfo">
	    		<strong>Power upgrade</strong></br>
	    		This is a more detailed description of the upgrade </br>
	    		<table>
		    		<td>Current:</td>
		    		<td>{{upgMultiplier}}</td>
		    		<td>Next:</td>
		    		<td>{{upgMultiplier + 0.03}}</td>
		    		<td>Cost:</td>
		    		<td>{{upgMultiplierCost}}</td>
	    		</table>
    		</td>
    		<td class="lvl">
    		LVL 45 </br>
    		<button class="active" ng-click="upgMultiplierFunction();"><p class="lvl"></p></button>
    		</td>
  		</tr>	
  		<tr>
    		<td class="upgInfo">
    			<strong>Crit Chance</strong></br>
	    		This is a more detailed description of the upgrade </br>
	    		<table>
		    		<td>Current:</td>
		    		<td>{{upgMultiplier}}</td>
		    		<td>Next:</td>
		    		<td>{{upgMultiplier + 0.03}}</td>
		    		<td>Cost:</td>
		    		<td>{{upgMultiplierCost}}</td>
	    		</table>
    		</td>
    		<td class="lvl">
    		LVL 45 </br>
    		<button class="active" ng-click="upgMultiplierFunction();"><p class="lvl"></p></button>
    		</td>
  		</tr>
  		<tr>
    		<td class="upgInfo">
    			<strong>Crit</strong></br>
	    		This is a more detailed description of the upgrade </br>
	    		<table>
		    		<td>Current:</td>
		    		<td>{{upgMultiplier}}</td>
		    		<td>Next:</td>
		    		<td>{{upgMultiplier + 0.03}}</td>
		    		<td>Cost:</td>
		    		<td>{{upgMultiplierCost}}</td>
	    		</table>
    		</td>
    		<td class="lvl">
    		LVL 45 </br>
    		<button class="active" ng-click="upgMultiplierFunction();"><p class="lvl"></p></button>
    		</td>
  		</tr>
  		<tr>
    		<td class="upgInfo">
    			<strong>Gem Chance</strong></br>
	    		This is a more detailed description of the upgrade </br>
	    		<table>
		    		<td>Current:</td>
		    		<td>{{upgMultiplier}}</td>
		    		<td>Next:</td>
		    		<td>{{upgMultiplier + 0.03}}</td>
		    		<td>Cost:</td>
		    		<td>{{upgMultiplierCost}}</td>
	    		</table>
    		</td>
    		<td class="lvl">
    		LVL 45 </br>
    		<button class="active" ng-click="upgMultiplierFunction();"><p class="lvl"></p></button>
    		</td>
  		</tr>
  		<tr>
    		<td class="upgInfo">Training interval</td>
    		<td><button class="disabled"></button></td>
  		</tr>
  		<tr>
    		<td class="upgInfo"></td>
    		<td><button ng-click="upgrade = false">Back</button></td>
  		</tr>	
	</table>
</div>
