<div class="main">
	<table class="firstTable">
		<tr>
    		<td class="nameOfValue">Gold</td>
    		<td class="nameOfValue">Total hits</td>
    		<td class="nameOfValue">Gems</td>
    	</tr>
 		<tr>
    		<td>{{gold}}</td>
    		<td>{{totalClicks}}</td>
    		<td>{{gems}}</td>
  		</tr>
  		<tr>
  			<td class="nameOfValue">Hit multiplier</td>
    		<td class="nameOfValue">Upgrade multiplier</td>
    		<td class="nameOfValue">Name multiplier</td>
  		</tr>
  		<tr>
    		<td>{{hitMultiplier}}</td>
    		<td>{{upgMultiplier}}</td>
    		<td>{{nameMultiplier}}</td>
  		</tr>
  		<tr>
  			<td class="nameOfValue">Base power</td>
    		<td class="nameOfValue">Total power</td>
    		<td class="nameOfValue">Damage</td>
  		</tr>
  		<tr>
    		<td>{{basePower}}</td>
    		<td>{{totalPower}}</td>
    		<td>{{damage}}</td>
  		</tr>
	</table>
	<table class="secondTable">
		<tr>
    		<td class="healthbar">
    			<div class="progressbar">
				 <span class="progressbar-value">
				  <em class="progressbar-cover"></em>
				 </span>
				</div>
    		</td>
    		<td class="picture" ng-click="click();">
    			<div class="info">
    			Level = {{index+1}} <br>
    			Health = {{health}} <br>
    			Armour = {{armour}} <br>
    			Reward = {{reward}} <br>
    			Name = {{name}}
    			</div>
    		</td>
  		</tr>
	</table>
	<table class="thirdTable">
		<tr>
    		<td class="inputName">
    			<input type="text" ng-model="guessedName"/>
    		</td>
    		<td class="checkName">
    			<button type="button" ng-click="check();">Check</button>
    		</td>
  		</tr>
	</table>
	<table class="fourthTable">
		<tr>
    		<td class="home">
    			<button type="button">Home</button>
    		</td>
    		<td class="prev">
    			<button type="button" ng-show="prevValid" ng-click="prev();">Prev</button>	
    		</td>
    		<td class="next">
    			<button type="button" ng-show="nextValid" ng-click="next();">Next</button>	
    		</td>
    		<td class="upgrades">
    			<button type="button">Upg</button>
    		</td>
  		</tr>
	</table>
</div>