<div class="main">
	<table class="firstTable">
		<tr>
    		<td class="gold">GOLD</td>
    		<td class="totalhits">HIT COUNT</td>
    		<td class="gems">GEMS</td>
    	</tr>
 		<tr>
    		<td class="rightBorder"><img src="img/components/gold.png" height="10" width="10"> {{gold}}</td>
    		<td class="rightBorder">{{totalClicks}}</td>
    		<td class="value"><img src="img/components/gem.png" height="10" width="10"> {{gems}}</td>
  		</tr>
  	</table>
  	<table class="firstTable2">
  		<tr>
  			<td class="hitMultiplier">HIT</td>
    		<td class="nameMultiplier">NAME</td>
    		<td class="totalPower">POWER</td>
    		<td class="damage">DAMAGE</td>
  		</tr>
  		<tr>
    		<td class="rightBorder">{{hitMultiplier}}</td>
    		<td class="rightBorder">{{nameMultiplier}}</td>
    		<td class="rightBorder">{{totalPower}}</td>
    		<td class="value">{{damage}}</td>
  		</tr>
	</table>
	<table class="secondTable">
		<tr>
    		<td class="healthbar">
    			<div class="progressbar">
				 <span class="progressbar-value">
				  <em class="progressbar-cover"></em>
				 </span>
				</div>
    		</td>
    		<td class="picture" ng-click="click();">
    			<div class="lvlValue">
    				LVL {{index+1}}
    			</div>
    			<div class="info">
    			<table>
    				<tr>
    					<td>
    						<img src="img/components/heart.png" height="15" width="15">	
    					</td>
    					<td class="value">
    						 {{health}}
    					</td>
    				</tr>
    				<tr>
    					<td>
    						<img src="img/components/armor.png" height="15" width="15">	
    					</td>
    					<td class="value">
    						 {{armour}}
    					</td>
    				</tr>
    				<tr>
    					<td>
    						<img src="img/components/gold.png" height="15" width="15">	
    					</td>
    					<td class="value">
    						 {{reward}}
    					</td>
    				</tr>
    			</table>
    			</div>
    		</td>
  		</tr>
	</table>
	<table class="thirdTable">
		<tr>
    		<td class="inputName">
    			<input type="text" class="allcaps" ng-model="guessedName"/>
    		</td>
    		<td class="checkName">
    			<button type="button" class="checkNameBtn" ng-click="check();"></button>
    		</td>
  		</tr>
	</table>
	<table class="fourthTable">
		<tr>
    		<td class="home">
    		</td>
    		<td class="prevValid" ng-click="prev();">
    		</td>
    		<td class="nextValid" ng-click="next();">
    		</td>
    		<td class="upgrades" ng-click="showUpgrades()">
    		</td>
  		</tr>
	</table>
</div>
<div class="upgradeView" ng-show="upgrades">
    <table>
        <tr>
            <td class="info">
                Power 
                <span class="upgLvl">lvl {{upgPowerLevel}}</span> <br>
                <span class="description">Permanently increase your power</span><br>
                <span class="current">Current: {{upgMultiplier}}</span>
                <span class="next">Next: {{upgMultiplier+0.03}}</span>
                <span class="cost"><img src="img/components/gold.png" height="10" width="10"> {{upgPowerCost}}</span>
            </td>
            <td class="upgBtn" ng-click="upgradePower()"></td>
        </tr>
        <tr>
            <td class="info">Crit 
                <span class="upgLvl">lvl {{upgCritLevel}}</span> <br>
                <span class="description">Increases the effect of a critical strike</span><br>
                <span class="current">Current: {{crit}}</span>
                <span class="next">Next: {{crit+0.05}}</span>
                <span class="cost"><img src="img/components/gold.png" height="10" width="10"> {{upgCritCost}}</span>
            </td>
            <td class="upgBtn" ng-click="upgradeCrit()"></td>
        </tr>
        <tr>
            <td class="info">Crit Chance 
                <span class="upgLvl">lvl {{upgCritChanceLevel}}</span> <br>
                <span class="description">Increases the chance for a critical strike</span><br>
                <span class="current">Current: {{critChance}}</span>
                <span class="next">Next: {{critChance+0.005}}</span>
                <span class="cost"><img src="img/components/gold.png" height="10" width="10"> {{upgCritChanceCost}}</span>
            </td>
            <td class="upgBtn" ng-click="upgradeCritChance()"></td>
        </tr>
        <tr>
            <td class="info">Gem Chance 
                <span class="upgLvl">lvl {{upgGemChanceLevel}}</span> <br>
                <span class="description">Increases the chance of finding a gem</span><br>
                <span class="current">Current: {{gemChance}}</span>
                <span class="next">Next: {{gemChance+0.004}}</span>
                <span class="cost"><img src="img/components/gold.png" height="10" width="10"> {{upgGemChanceCost}}</span>
            </td>
            <td class="upgBtn" ng-click="upgradeGemChance()"></td>
        </tr>
        <tr>
            <td class="info">Training effect 
                <span class="upgLvl">lvl {{upgTrainingEffectLevel}}</span> <br>
                <span class="description">Increases the effect of training</span><br>
                <span class="current">Current: {{trainingEffect+1}}</span>
                <span class="next">Next: {{trainingEffect+1.05}}</span>
                <span class="cost"><img src="img/components/gold.png" height="10" width="10"> {{upgTrainingEffectCost}}</span>
            </td>
            <td class="upgBtn" ng-click="upgradeTrainingEffect()"></td>
        </tr>
        <tr>
            <td class="info">Training 
                <span class="upgLvl"></span> <br>
                <span class="description">A chance to permanently increase your base power</span><br>
                <span class="current">Current: {{basePower}}</span>
                <span class="next">Next: ?</span>
                <span class="cost"><img src="img/components/gem.png" height="10" width="10"> 1</span>
            </td>
            <td class="trainBtn" ng-click="train()"></td>
        </tr>
    </table>
    <button class="backBtn" ng-click="hideUpgrades()"></button>
</div>